h3 {
  color: red;
}

.navbar {
  background-color: black;
  border: none;
}

/* body {
  padding: 0;
  margin: 0;
  background-color: gray;
} */

/* div, header, footer, body {
  background-color: red;
} */

* {
    font-family: Helvetica, Arial, Sans-Serif;
}

#link1 {
  background-color: red !important;
  background-image: url("bettrIcon.png");
  background-size: contain;
  width: 200pt;
  height: 300pt;
  background-repeat: no-repeat;
}
