.top-section {
  background-color: #66cc33;
  text-align: center;
  color: white;
  padding-bottom: 32pt;
}

header {
  background-color: #66cc33;
  text-align: center;
}

.black-section {
    background-color: black;
    color: white;
}

.green-section {
  background-color: #66cc33;
  color: black;
}

.black-r {
  color: black;
}

footer, div, body {
  padding: 0;
  margin: 0;
}

header {
  padding-top: 16pt;
}

header, footer, div, body {
  float: center;
  display: inline-block;
  width: 100%;
  background-color: #66cc33;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 8pt;
}

* {
    font-family: Helvetica, Arial, Sans-Serif;
}

h1 {
  font-size: 40pt;
}

h2 {
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 4pt;
}

h3 {
  text-align: left;
  font-size: 24pt;
  padding-left: 10%
}

p {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16pt;
}

button {
  float: right;
  margin-left: 16pt;
  background-color: white;
  width: 64pt;
  filter: invert(100%);
  border: none;
}

button:hover {
  cursor: pointer;
}

h4 {
  float: right;
  text-align: right;
  font-size: 18pt;
}

.button-area {
  display: inline-flex;
  background-color: inherit;
  margin-left: 50%;
  margin-bottom: 16pt;
}

#stat {
  filter: none;
  background-color: inherit;
}

footer {
  text-align: center;
  margin-bottom: 32pt;
}

#footerContent {
  color: black;
  margin-bottom: 32pt;
}

#disclaimer {
  color: black;
  margin-bottom: 32pt;
}